body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #149eee, #df1e95);
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left {
  flex: 1;
  padding: 50px;
  color: white;
  background: linear-gradient(135deg, #14baec 0%, #c010b1 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left h1 {
  font-size: 2.5em;
}

.left p {
  max-width: 400px;
}

.right {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 80%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  margin-bottom: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #17eee3, #cc19b4);
  color: white;
  font-size: 1em;
  cursor: pointer;
}